.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-content: end;
  /* justify-items: center; */
  align-items: center;
}

.calculator-container {
  width: 350px;
  height: 600px;
  background: #000;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: aliceblue;
}

#display {
  width: 100%;
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

#clear {
  grid-column: 1/5;
  order: 0;
}

#equals {
  order: 16;
}

#multiply {
  order: 8;
}

#add {
  order: 15;
}

#subtract {
  order: 4;
}

#divide {
  order: 12;
}

#decimal {
  order: 14;
}

#zero {
  order: 13;
}

#one {
  order: 9;
}

#two {
  order: 10;
}

#three {
  order: 11;
}

#four {
  order: 5;
}

#five {
  order: 6;
}

#six {
  order: 7;
}

#seven {
  order: 1;
}

#eight {
  order: 2;
}

#nine {
  order: 3;
}

/* For Mobile Devices */
@media (max-width: 500px) {
  .calculator-container {
    width: 250px;
    height: 450px;
  }
}
